<%- include ('../partials/header') %>
<%- include ('../partials/ticker') %>
<%- include ('../partials/menu') %>


    <main>
      <container>
      <section class="vh-100" style="background-color: #9de2ff; float: left;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                      <img src="\img\default.svg" alt="Generic placeholder image" class="img-fluid"
                        style="width: 180px; border-radius: 10px;">
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <h5 class="mb-1">User: <%= username %> <span id="username"></span></h5>

                      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                      <script>
                      </script>
                      <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                        <div class="px-3">
                          <table>
                            <tr>
                              <th>
                                <p class="small text-muted mb-1">Followers</p>
                              </th>
                              <th>
                                <p class="small text-muted mb-1">Following</p>
                              </th>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <!-- this is who follows the current user -->
                                  <%followeds.forEach(function(followed){%>
                                    <tr>
                                      <td> <a href="profile?user=<%- followed.follower_username%>"> <%- followed.follower_username%> </a> </td>
                                    </tr>
                                    <%})%>
                                </table>
                              </td>
                              <td>
                                <table>
                                  <!-- this is  -->
                                  <%followers.forEach(function(follower){%>
                                    <form action="/unfollow" method="POST">
                                      <input name="follower_id" value="<%- follower.followed_username%>" type="hidden">
                                      <input name="follower_data" value="<%- JSON.stringify(followers)%>" type="hidden">
                                      <input name="followed_data" value="<%- JSON.stringify(followeds)%>" type="hidden">
                                      <tr>
                                        <td> <a href="profile?user=<%- follower.followed_username%>"> <%- follower.followed_username%> </a> </td>
                                        <% if (isCurrentUser){ %>
                                          <td>
                                            <input type="submit" value="unfollow">
                                          </td>
                                          <% } %>
                                      </tr>
                                    </form>
                                    <%})%>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="vh-100" style="background-color: #b2baec;">
        <table>
          <% 
          Pdata = [];
          if(profile_data.data){
              for(var i = 0; i < profile_data.symbols.length; i++){
                  if(i < profile_data.data.length){
                      Pdata.push(profile_data.data[i].data);
                  }else{
                      Pdata.push("No Data");
                  }
              }
          }else{
              for(var i = 0; i < 6; i++){
                  Pdata.push("No Data At All");
              }
          } %>
          <tr>
            <th>Stock</th>
          </tr>
          
          <tr>
          <% out = "";
          for(var i = 0; i < Pdata.length; i++){
              out += `<td>`
              out += `<form action="/removeFavorite" method="POST">
                <input name="profile_id" value=${profile_data.symbols[i]} type="hidden">`
              out += `<div class="ticker-box">`
              out += `<div class="ticker-symbol">${profile_data.symbols[i]}</div>`
              out += `<div class="ticker-price-container">`;
              out += `<div style="display: flex; align-items: end;">$${Pdata[i].c}</div>`
              if(Pdata[i].d < 0){
                  out += `<div style="display: flex; align-items: start; color: var(--bad)">-$${Math.abs(Pdata[i].d)}</div>`
              }else{
                  out += `<div style="display: flex; align-items: start; color: var(--good)">+$${Pdata[i].d}</div>`
              }
              out += `<input type="submit" value="Remove from Favorites">`
              out += `</div>`
              out += `</div>`
              out += `</form>`
              out += `</td>`
          }
          %>
          <%- out %>
        </tr>

        </table>
      </section>
    </container>
  </main>

<%- include ('../partials/footer') %>