<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class = "container">
        <form action="/searchTick" method="GET">
            <input type="search" id="search" name="search" placeholder="Search stock ticker...">
            <input type="submit" id='search' value="SEARCH">
        </form>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Ticker</th>
            </tr>
            <%if(data){
                data.forEach(function(tick){
                    if(tick.type == 'Common Stock'){%>
                        <form action="/addFavorite" method="POST">    
                            <input name="ticker_id" value="<%- tick.symbol%>" type="hidden">                   
                            <tr>
                                <td><%- tick.description%></td>
                                <td><%- tick.symbol%></td>
                                <td>
                                    <input type="submit" value="Add to Favorites">
                                </td>
                            </tr>
                        </form>
                    <%}
                })
            }%>
        </table>
    </div>
    
</main>

<%- include ('../partials/footer') %>