<%- include ('../partials/header') %>
<%- include ('../partials/ticker') %>
<%- include ('../partials/menu') %>


<head>
    <link href="/css/searchStyle.css" rel="stylesheet"/>
</head>
<main>
    <div class = "search-container">
        <%- include ('../partials/message') %>
        <form class="search-form" action="/searchTick" method="GET">
            <input class="search-bar" type="search" id="search" name="search" placeholder=". . .">
            <select class="search-selector" id="searchSelect" name="searchSelect">
                <option value="None">- - -</option>
                <option value="Stocks">Stock Tickers</option>
                <option value="Users">Users</option>
            </select>
            <input class="search-button" type="submit" id='search' value="SEARCH">
        </form>
        <table>
            <%if(data && selection=='Stocks'){%>
                <tr>
                    <th>Name</th>
                    <th>Ticker</th>
                </tr>
                <%data.forEach(function(tick){
                    if(tick.type == 'Common Stock'){%>
                        
                        <form action="/addFavorite" method="POST">    
                            <input name="ticker_id" value="<%- tick.symbol%>" type="hidden">                   
                            <tr>
                                <td><%- tick.description%></td>
                                <td><%- tick.symbol%></td>
                                <td>
                                    <input class="fav-follow" type="submit" value="Add to Favorites">
                                </td>
                            </tr>
                        </form>
                    <%}
                })
            }else if(data && selection == 'Users'){
                data.forEach(function(user){%>
                    <tr>
                        <th>Username</th>
                    </tr>
                    <form action="/followUser" method="POST">    
                        <input name="username" value="<%- user.username%>" type="hidden">                   
                        <tr>
                            <td><%- user.username%></td>
                            <td>
                                <input class="fav-follow" type="submit" value="Follow">
                            </td>
                        </tr>
                    </form>
                 <%})
            }else if(data){%>
                <p>No results found...</p>
            <%}%>
        </table>
    </div>
    
</main>

<%- include ('../partials/footer') %>